<div data-ng-include="'/navigationBars/navigationBar.html'"></div>

<div ng-controller="projectController" class="projectContainer container">

<div class="header">
	<div class="row">

		<div class="col-md-6 ">
			<h1>{{project.name}}</h1>
			<h4>Creation date: {{project.creationDate}}</h4>
		</div>
		<div class="col-md-6 description">
			<h4>Description</h4>
			<textarea class="form-control" rows="5"  ng-model="project.description" readonly="true"></textarea>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-4">
		<h3>Simulations</h3>
			<div ng-repeat="simulation in project.simulations">
				 <div class="panel panel-default">
				      <div class="panel-heading"><a href="javascript:void(0)" ng-click="openSimulation(simulation)">{{simulation.name}}</a></div>
				      <div class="panel-body">
				      	<p>Creator: {{simulation.creator}}</p>
				      	<p>Creation date: {{simulation.createDate}}</p>
				      	<p>Circumscriptions: {{simulation.Circunscriptions?simulation.Circunscriptions.length:0}}</p>
				      </div>
				       <div class="panel-footer" ng-show="simulation.creator===appUser.username || actualWorkgroup.permissions[appUser.username].deleteSimulations">
				       	<button class="btn btn-danger pull-right" ng-click="deleteSimulation(simulation)">Delete</button>
				       	<div class="clearfix"></div>
				       </div>
   				 </div>
		</div>
		<div ng-show="!project.simulations||project.simulations.length==0">
				<p class="center-text">No simulations created yet in this project.</p>
			</div>
		<button class="btn btn-primary pull-right" ng-show="actualWorkgroup.permissions[appUser.username].createSimulation"
			ng-click="createSimulation()">Create simulation</button>
		<div class="clearfix"></div>
	</div>
<div class="col-md-4">
		<h3>Messages</h3>
		<div ng-repeat="message in project.dashboard">
				 <div class="panel panel-primary">
				      <div class="panel-heading">{{message.title}}</div>
				      <div class="panel-body">
				      	<p>{{message.body}}</p>
				      	<p class="text-right">Sent by: {{message.creator.completeName}} <br>
				Created on: {{message.postDate}}</p>
				      </div>
				       <div class="panel-footer"  ng-show="message.creator.username===appUser.username || actualWorkgroup.permissions[appUser.username].deleteMessage">
				       		<button class="btn btn-danger pull-right" ng-click="deleteMessage(message)">Delete</button>
				       	<div class="clearfix"></div>
				       </div>
   				 </div>
			</div>
			<div ng-show="!project.dashboard||project.dashboard.length==0">
				<p class="center-text">No messages added yet in this project.</p>
			</div>
			<button class="btn btn-primary pull-right" ng-show="message.creator===appUser.username || actualWorkgroup.permissions[appUser.username].addMessage"
				ng-click="addMessage()">Add message</button>
		<div class="clearfix"></div>
	</div>
	<div class="col-md-4">
		<h3>Reports</h3>
			<div ng-repeat="report in project.reports">
				 <div class="panel panel-success">
				      <div class="panel-heading"><a href="javascript:void(0)" ng-click="openReport(report)">{{report.name}}</a></div>
				      <div class="panel-body">
				      	<p>Creator: {{report.creator}}</p>
				      	<p>Simulation: {{report.simulation}}</p>
				      	<p>Creation date: {{report.createDate}}</p>
				      </div>
				       <div class="panel-footer"  ng-show="report.creator===appUser.username">
				       		<button class="btn btn-danger pull-right" ng-click="deleteReport(report)">Delete</button>
				       		<button class="btn btn-primary pull-right" style="margin-right: 10px" ng-click="openReport(report)">View</button>
				       	<div class="clearfix"></div>
				       </div>
   				 </div>
			</div>
			<div ng-show="!project.reports||project.reports.length==0">
				<p class="center-text">No reports generated yet in this project.</p>
			</div>
	</div>

</div>

	


</div>
<script type="text/ng-template" id="createSimulationModal.html">
	<form>
        <div class="modal-header">
            <h3 class="modal-title">Create new simulation</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
            	<div class="form-group">
					<label class="control-label col-sm-4" for="name">Name:</label>
					<div class="col-sm-7">
						<input class="form-control" id="name" 
							placeholder="Introduce simulation name" ng-model='name' required>
					</div>
				</div>
<div class="form-group">
					<label class="control-label col-sm-4">Template:</label>
					<div class="col-sm-7">
	    				<select class="form-control" ng-model="template" 
	    					 ng-options="template as template.name for template in templates"></select>
					</div>
				</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Accept</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="addMessageModal.html">
	<form name="addMessageForm">
        <div class="modal-header">
            <h3 class="modal-title">Send new message</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
            	<div class="form-group">
					<label class="control-label col-sm-3" >Title:</label>
					<div class="col-sm-8">
						<input class="form-control" placeholder="Message title" ng-model='message.title' required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3" >Content:</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows="5" ng-model='message.body' required></textarea>
					</div>
				</div>
				
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Accept</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>