#formulario{
}
#campos {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  clear: both;
}
#re {
	
	margin-left: 1em;
	margin-right: 1em;
}
#sub {
	margin-left: 2em;
}
#fot {

	cursor: pointer;
}
#foto {
	margin-top: 4em;
	cursor: pointer;
}

