<div data-ng-include="'/navigationBars/navigationBar.html'"></div>
<div class="container">
	<div class="simulation">

		<article class="col-md-offset-1 col-md-10 maincontent">

			<header class="page-header">
				<h1 class="page-title">{{simulation.name}}</h1>
			</header>

			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4">Select circunscription:</label>
					<div class="col-sm-4">
						<select class="form-control"
							ng-options="circumscription as circumscription.name for circumscription in simulation.Circunscriptions"
							ng-model="selectedCircumscription"></select>
					</div>
					<div class="btn-group col-sm-4" role="group">
						<button class="btn btn-primary" ng-click="addCircumscription()">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
						<button ng-click="deleteCircumscription()" class="btn btn-danger">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</div>
				</div>
				<hr class="separator" />
				<div ng-show="selectedCircumscription">
				<h3>Edit circunscription</h3>
				<div class="form-group">
					<label class="control-label col-sm-4">Name:</label>
					<div class="col-sm-7">
						<input class="form-control" placeholder="Nombre"
							ng-model="selectedCircumscription.name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Population:</label>
					<div class="col-sm-7">
						<input class="form-control" placeholder="Population"
							ng-model="selectedCircumscription.population">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Seats:</label>
					<div class="col-sm-7">
						<input class="form-control" placeholder="Poblacion"
							ng-model="selectedCircumscription.seats">
					</div>
				</div>
				<div class="form-group" ng-show="!selectedCircumscription.localization">
					<label class="control-label col-sm-4">Upload GeoJSON:</label>
					<input file-input="files" id="topojson" type="file"/>
				</div>
					<div class="form-group" ng-show="selectedCircumscription.localization">
					<label class="control-label col-sm-4">GeoJSON uploaded:</label>
					<div class="col-sm-8">
					{{selectedCircumscription.localizationFilename}}
						<button class="btn btn-danger" ng-click="deleteTopojson(selectedCircumscription)">Delete</button>
					</div>
				</div>
				<h4>Votes</h4>
				<div ng-form="addVotingIntentForm">
					<table class="table">
						<thead>
							<tr>
								<th>Parties</th>
								<th>Votes</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="votingIntent in selectedCircumscription.votingIntents">
								<td>{{votingIntent.party.name}}</td>
								<td>{{votingIntent.voters}}</td>
								<td><button class="btn btn-primary"
										ng-click="deleteVotingIntent(votingIntent)">
										<span class="glyphicon glyphicon-minus"></span>
									</button></td>
							</tr>
							<tr>
								<td><input required class="form-control" placeholder="Party"
									ng-model="newVotingIntent.party.name"></td>
								<td><input required type="number" class="form-control" placeholder="Voters"	ng-model="newVotingIntent.voters"></td>
								<td><button class="btn btn-primary"
										ng-click="insertVotingIntent()">
										<span class="glyphicon glyphicon-plus"></span>
									</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			<button class="btn btn-success pull-right" ng-click="createReport()">Save Report</button>
			<button class="btn btn-success pull-right" ng-click="saveSimulation()">Save simulation</button>
		</article>
	</div>
	
	<script type="text/ng-template" id="modalView.html">
 				<div>

         		<div class="modal-header">
             		<h3 class="modal-title">Generate results</h3>
         		</div>
 

         		<div class="modal-body">      
             		<div class="form-group">
             			<label>Name of the report:</label>
             			<input type="text" ng-model="nameReport" class="form-control"/>
             		</div>
         		</div>
 

         		<div class="modal-footer">
             		<button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
             		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
         		</div>
 			
				</div>
 			</script>
 			
 			
</div>