<div class="signIn">  
   <div data-ng-include="'/navigationBars/navigationBar.html'"></div>

    <div class="container">
    <div class="row">
    <hr>
    <hr>
    
      <article class="col-xs-12 maincontent">
      
        
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">      
          <header class="page-header">
          <h1 class="page-title">Sign in</h1>
        </header>
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center">Accede a tu cuenta</h3>
              <hr>
              <form name='registroForm' class="form-horizontal" role="form">
                <div class="top-margin" class="form-group">
                  <label class="col-lg-2 control-label" >Usuario</label>
                  <div class="col-lg-10"> 
                    <input ng-model="usuario" type="text" class="form-control" placeholder="Introduce usuario">
                  </div>
                </div>
                <br>
                <br>
                <div class="top-margin" class="form-group">
                  <label class="col-lg-2 control-label" >Contraseña</label>
                  <div class="col-lg-10">
                    <input ng-model="contrasena" type="password"  class="form-control" placeholder="Introduce contrase馻">
                  </div>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                  <div class="col-sm-3 col-sm-offset-5">
                    <button class="btn btn-action" ng-click="sendLogin()">Sign in</button>
                  </div>
                </div>
              </form>
              <div class="top-margin">
                <p>No tienes cuenta? <a data-ng-href="#/register">Registrate</a></p>
              </div>
            </div>
          </div>
        </div>
        
      </article>
      
    </div>
    </div>
</div>  