<div data-ng-include="'/navigationBars/navigationBarIn.html'"></div>

<div ng-controller="projectsController" class="generic-container projects">

			<div class="text-center">
			<h1>Projects</h1>
				<div class="input-group col-centered small-input">
				  <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
				  <input type="text" class="reasonable-size-for-input form-control" placeholder="Filter by" aria-describedby="basic-addon1">
				  <button type="button" class="btn btn-default" style="float:left;">
	    			<span class="fa fa-plus fa-3"></span>
	  			  </button>
				</div>
				
			</div>
			<hr>

			<div class="list-container list-group">
				<table class="table table-striped table-bordered">
					<thead>
				      <tr>
				        <th>
				          <a  ng-click="orderByField='firstName'; reverseSort = !reverseSort">
				          Name <span ng-show="orderByField == 'name'"></span></span>
				          </a>
				        </th>
				        <th>
				          <a  ng-click="orderByField='lastName'; reverseSort = !reverseSort">
				            Date <span ng-show="orderByField == 'date'"></span></span>
				          </a>
				        </th>
				        <th>
				          <a  ng-click="orderByField='date'; reverseSort = !reverseSort">
				          WorkGroup <span ng-show="orderByField == 'workGroup'"></span></span>
				          </a>
				        </th>
				        <th>
				          <a >
				          Action</span>
				          </a>
				        </th>
				      </tr>
				    </thead>
				    <tbody>
						<tr ng-repeat='x in projects'>
							<td>{{projects.name}}</td>
							<td>{{projects.date}}</td>
							<td>{{projects.workGroup}}</td>
							<td align="center"><i class="glyphicon glyphicon-remove text-center"></i></td>
						</tr>
					</tbody>		
				</table>
			</div>

</div>

<modal></modal>