<div>
<div data-ng-include="'/navigationBars/navigationBarOut.html'"></div>
<div class="container" ng-controller='registerController'>
	<div id="registerContainer"
		class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		<h1>Registro</h1>
		<form class="form-horizontal" name="registerForm">
			<div class="panel panel-default">
				<div class="panel-body">
					<fieldset>
						<legend>Información de la cuenta</legend>
						<div class="form-group">
							<label class="control-label col-sm-4" for="username">Username:</label>
							<div class="col-sm-7">
								<input class="form-control" id="username" name="username"
									placeholder="Introduce nombre de usuario" ng-model='usuario' required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="password">Contraseña:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" id="password" name="password"
									placeholder="Introduce contraseña" ng-model="password" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="password">Repite contraseña:</label>
							<div class="col-sm-7">
								<input type="password" class="form-control" id="password" name="password"
									placeholder="Repite contraseña" ng-model='password2' required>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>Información personal</legend>
						<div class="form-group">
							<label class="control-label col-sm-4" for="name">Nombre completo:</label>
							<div class="col-sm-7">
								<input class="form-control" id="name" name="name"
									placeholder="Nombre y apellidos" ng-model='nombreCompleto'>
							</div>
						</div>
						<div class="form-group">
							<label  id="foto" class="control-label col-sm-4" for="profilePic">Foto de perfil:<input type='file' id="imgInp"
								file-input="files" ng-model="files" onchange="cargarImg(this);" 
								/></label><!-- file="file"  -->
							<div class="col-sm-7">
									<img src="../assets/ejemplo.jpg" class="img-thumbnail"
								onclick="cargarFoto();" id="fot">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="role">Rol:</label>
							<div class="col-sm-7">
								<input class="form-control" id="role" name="role"
									placeholder="Analista, manager, otro..." ng-model='rol' required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="email">Email:</label>
							<div class="col-sm-7">
								<input class="form-control" id="email" name="email"
									placeholder="Direccion de email" ng-model='email' required>
							</div>
						</div>
					</fieldset>

				</div>
			</div>
		</form>
		<button id="register_button"  class="btn btn-primary btn-lg pull-right"
			 ng-click="enviarRegistro()">Registrar</button>
		<div class="clearfix"></div>
	</div>
</div>
</div>